@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/rubik/rubik-400.woff2) format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/rubik/rubik-700.woff2) format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 800;
  src: url(../fonts/rubik/rubik-800.woff2) format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url(../fonts/raleway/raleway-800.woff2) format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  background-color: white;
  color: rgb(68, 68, 68);
}

.main-container {
  flex-grow: 1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.main-button {
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  display: inline-block;
  letter-spacing: 0.2em;
  padding-top: 14px;
  padding-bottom: 16px;
  padding-right: 36px;
  padding-left: 36px;
  position: relative;
  z-index: 1;
  align-self: flex-start;
}

.button-width {
  box-sizing: border-box;
  padding-right: 19px;
  padding-left: 19px;
  min-width: 260px;
  margin-top: auto;
}

.main-button::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 8px;
  top: 20px;
  left: 0px;
  background: rgb(255, 225, 127);
  z-index: -1;
  transition: transform 0.2s;
}

.main-button:hover::before {
  transform: scaleY(6.3);
}

.main-button:active {
  color: rgba(0, 0, 0, 0.3)
}

.main-button:active.main-button::before {
  background: rgb(255, 225, 127);
}

.main-button:focus {
  border: 0;
  outline: 0;
}

.main-button:focus::before {
  background: rgb(175, 79, 255);
}

.button-select {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 225, 127);
}

.page-header {
  color:rgb(0, 0, 0);
}

.page-header-logo {
  margin-left: 60px;
  margin-bottom: 16px;
  width: 145px;
}

.page-header-logo:focus {
  border: 0;
  border-radius: 10px;
  outline: 2px solid rgb(175, 79, 255);
  outline-offset: 3px;
}

.page-header-logo:active.page-header-logo:focus {
  outline: none;
}

.navigation {
  display: flex;
  flex-direction: column;
  width: 1160px;
  margin: 0 auto;
  padding-top: 17px;
  background-image: linear-gradient(transparent 40px, rgb(255, 225, 127) 40px);
}

.navigation-footer {
  padding-bottom: 38px;
}

/* .navigation-catalog {
  position: relative;
} */


.navigation-catalog:focus-within .navigation-submenu-container {
  opacity: 1;
  visibility: visible;
  display: flex;
}

.navigation-list .navigation-submenu-container {
  opacity: 0;
  visibility: hidden;
  transition-property: opacity, visibility;
  transition-duration: 0.3s;
  transition-delay: 0.1s;
}



.navigation-link:focus + .navigation-submenu-container {
  opacity: 1;
  visibility: visible;
}
.navigation-catalog:hover .navigation-submenu-container {
  opacity: 1;
  visibility: visible;
}
/* .navigation-link:hover + .navigation-submenu-container {
  opacity: 1;
  visibility: visible;
} */

/* .navigation-link:hover + .navigation-submenu-container {
  opacity: 1;
  visibility: visible;
} */

.navigation-user-block {
  display: grid;
  grid-template-columns: 535px 541px;
  margin: 0px;
  margin-bottom: 20px;
  padding: 0px;
  margin-left: 44px;
  margin-right: 40px;
}

.navigation-user-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  grid-template-columns: 2 / 3;
  display: flex;
  flex-wrap: wrap;
  align-items:center;
  justify-content: center;
}

.right {
  margin-left: auto;
  align-self: flex-start;
}

.link-right {
  margin-left: 17px;
  align-self: flex-start;
  position: relative;
}

.navigation-list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 541px auto auto 1fr;
  margin-left: 39px;
  margin-right: 36px;
  list-style-type: none;
  position: relative;
}

.underline:hover::before {
  content: "";
  position: absolute;
  width: 74%;
  height: 2px;
  bottom: 8px;
  left: 12%;
  background: rgb(0, 0, 0);
}

.navigation-catalog {
  grid-row: 1 / -3;
  width: 320px;
}

.navigation-contacts {
  text-align: right;
}

.navigation-catalog .navigation-link::before {
  position: absolute;
  content: "+";
  font-family: sans-serif;
  font-size: 35px;
  text-align: center;
  width: 50px;
  height: 50px;
  display: block;
  padding-top: 12px;
  padding-left: 4px;
  top: 50%;
  right: 0px;
  transform: translate(47px, -50%);
  box-sizing: border-box;
  border-radius: 50%;
  border: 2px solid rgba(0,0,0);
  opacity: 0.3;
}

.navigation-catalog .navigation-link:hover::before {
  content: "-";
  font-family: sans-serif;
  font-size: 35px;
  text-align: center;
  width: 50px;
  height: 50px;
  display: block;
  padding-top: 10px;
  padding-left: 4px;
  opacity: 1;
}

.navigation-submenu-list {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  margin-top: 31px;
  padding-left: 44px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  width: 1160px;
}

.navigation-submenu-container {
  /* display: none; */
  position: absolute;
  height: 180px;
  left: -39px;
  z-index: 20;
  background-color: rgb(255, 225, 127);
}

.submenu-list {
  box-sizing: border-box;
  margin: 0;
  margin-right: 20px;
  padding: 0;
  width: 225px;
  list-style: none;
}

.navigation-link {
  display: inline-block;
  padding: 15px 20px;
  font-family: "Raleway", sans-serif;
  color: rgb(0, 0, 0);
  box-sizing: border-box;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  position: relative;
}

.navigation-left {
  margin-left: -9px;
}

.navigation-link:focus {
  outline: 0;
  border: 0;
}

.navigation-link:focus::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 99%;
  height: 100%;
  box-sizing: border-box;
  border: 2px solid rgb(175, 79, 255);;
  border-radius: 25px;
  background-color: transparent;
}

.navigation-link:active {
  opacity: 0.3;
}

.navigation-link:active.navigation-link:focus::after {
  border: 0;
}

.submenu-link {
  display: inline-block;
  box-sizing: border-box;
  border-radius: 25px;
  padding: 3px 15px 5px 15px;
  margin-bottom: 10px;
  color: rgb(0, 0, 0);
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
}
.submenu-link:hover {
  opacity: 0.6;
}

.submenu-link:active {
  opacity: 0.3;
}

.submenu-link:focus {
  outline: none;
  border: 0;
  box-shadow: 0px 0px 0px 2px rgb(175, 79, 255);
}

.submenu-link:active.submenu-link:focus {
  box-shadow: none;
}


.navigation-user-link {
  display:block;
  /* padding: 10px 21px; */
  color: rgb(0, 0, 0);
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
}

.navigation-user-link:focus {
  outline: 0;
  border: 0;
  position: relative;
}

.navigation-user-link:focus::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  border: 2px solid rgb(175, 79, 255);
  border-radius: 20px;
  background-color: transparent;
}

.navigation-user-link-gray {
  color: rgba(0, 0, 0, 0.3);
  padding: 10px;
}

.user-link-enter {
  padding: 10px 21px 10px 46px;
}
.user-link-compare {
  padding: 11px 19px 9px 41px;
}
.user-link-basket {
  padding: 11px 20px 9px 44px;
}


.navigation-user-link:hover {
  opacity: 0.6;
}

.navigation-user-link:hover.navigation-user-link:focus::before {
  border: 0;
  display: none;
}

.navigation-user-link:active {
  opacity: 0.3;
}


.main-index {
  color:rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
}

.page-container {
  width: 1160px;
  margin: 0 auto;
}

.slider {
  margin-bottom: 69px;
  position: relative;
}

.slider-card {
  display:flex;
  justify-content: space-between;
  background-image: linear-gradient(rgb(255, 225, 127) 150px, transparent 150px);
}

.slider-image {
  /* position: relative; */
  align-self: center;
}

.slider-image img{
  display: block;
}

.slider-info {
  width: 560px;
  box-sizing: border-box;
  position: relative;
  padding-top: 123px;
  padding-bottom: 20px;
}

.slider-number {
  font-weight: 800;
  font-size: 180px;
  line-height: 30px;
  color: white;
  display: block;
  position: absolute;
  top: 80px;
  right: 49px;
}

.slider-slogan {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  margin: 0px;
  margin-bottom: 28px;
  position: relative;
}

.slider-description {
  font-size: 18px;
  line-height: 30px;
  color: rgb(68, 68, 68);
  margin: 0px;
  margin-bottom: 37px;
}

.button-more {
  /* display:block; */
  width: 150px;
  margin: 0px;
  margin-bottom: 52px;
}

.slider-features {
  margin: 0;
  padding: 0;
  list-style: none;
  display:flex;
  flex-wrap: wrap;
}

.slider-button {
  position: absolute;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  top: 50%;
  width: 40px;
  height: 80px;
  cursor: pointer;
}

.slider-button:focus {
  outline: 0;
  border: 2px solid rgb(175, 79, 255);
  box-sizing: border-box;
  border-radius: 6px;
}

.slider-pagination {
  margin: 0px;
  padding: 0px;
  width: 80px;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 182px;
  right: 60px;
  z-index: 10;
}

.slider-pagination-button {
  width: 13px;
  height: 13px;
  box-sizing: border-box;
  background-color: transparent;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 50%;
  cursor: pointer;
  padding: 1px;
}

.slider-on {
  background: rgb(0, 0, 0);
}

.slider-pagination-button:focus {
  outline: 0;
  border: 2px solid rgb(175, 79, 255);
}
.slider-pagination-button:hover {
  opacity: 0.6;
}
.slider-pagination-button:active {
  opacity: 0.3;
  border: 2px solid rgb(0, 0, 0);
}

.button-left {
  left: 9px;
  background-image: url(../img/other/slider-arrow-left.svg);
  transform: translateY(-50%);
}

.button-right {
  left: 511px;
  background-image: url(../img/other/slider-arrow-right.svg);
  transform: translateY(-50%);
}

.button-left:hover, .button-right:hover {
  opacity: 0.6;
}
.button-left:active, .button-right:active {
  opacity: 0.3;
  border: 0;
}

.features-item {
  display:flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.features-value {
  font-weight: 400;
  font-size: 36px;
  line-height: 30px;
  width: 160px;
  margin-bottom: 11px;
}

.features-name {
  font-size: 16px;
  line-height: 30px;
  color:  rgb(68, 68, 68);
}

.productline {
  margin: 0px;
  padding: 0px;
  margin-bottom: 81px;
  /* outline: 5px solid rgba(255, 99, 78, 0.5);
  outline-offset: -5px; */
}

.productline-list {
  margin: 0;
  padding: 0;
  width: 1160px;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(6, 160px);
  grid-column-gap: 40px;
}

.productline-item {
  width: 160px;
  position: relative;
}

.productline-card {
  font-family: "Raleway", sans-serif;
  color: rgb(0, 0, 0);
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-decoration: none;
  display: block;
  padding-top: 193px;
  background-image: linear-gradient(to bottom, rgb(255, 225, 127) 160px, transparent 160px);
}

.productline-card::before {
  position: absolute;
  content: "";
  width: 160px;
  height: 160px;
  box-sizing: border-box;
  top: 0px;
  left: 0px;
  background-repeat: no-repeat;
  background-position: center;
}
.productline-card:focus::before {
  outline: 5px solid rgb(175, 79, 255);
  outline-offset: -5px;
}

.productline-card:focus {
  outline: 0;
  color: rgb(175, 79, 255);
}
.productline-card:active {
  color: rgba(0, 0, 0, 0.3);
}

.productline-card:active::before {
  outline: 0;
}

.productline-card:hover {
  background-image: linear-gradient(to bottom, rgb(255, 199, 0) 160px, transparent 160px);
}

.productline-card:active.productline-card::before {
  outline: 0;
  opacity: 0.3;
}

.productline-vr.productline-card::before {
  background-image: url("../img/other/popular-vr.svg");
}

.productline-ms.productline-card::before {
  background-image: url("../img/other/popular-ms.svg");
  background-position-y: 43px;
}

.productline-ac.productline-card::before {
  background-image: url("../img/other/popular-ac.svg");
  left: 4px;
}

.productline-fb.productline-card::before {
  background-image: url("../img/other/popular-fb.svg");
top: 2px;
}

.productline-sw.productline-card::before {
  background-image: url("../img/other/popular-sw.svg");

}

.productline-qc.productline-card::before {
  background-image: url("../img/other/popular-qc.svg");
  top: 3px;
}


.services {
  margin: 0px;
  margin-bottom: 90px;
  background-image: linear-gradient(transparent 100px, rgb(240, 240, 240) 100px);
}

.services-cards {
  width: 760px;
  padding-top: 70px;
  position: relative;
}

.services-cards-delivery::before {
  content: "";
  position: absolute;
  background-image: url("../img/other/services-1.svg");
  width: 136px;
  height: 164px;
  top: 83px;
  right: 66px;
}

.services-cards-guarantee::before {
  content: "";
  position: absolute;
  background-image: url("../img/other/services-2.svg");
  width: 171px;
  height: 195px;
  top: 83px;
  right: 66px;
}

.services-cards-credit::before {
  content: "";
  position: absolute;
  background-image: url("../img/other/services-3.svg");
  width: 156px;
  height: 188px;
  top: 83px;
  right: 66px;
}

.services-card-name {
  font-family: "Raleway", sans-serif;
  color: rgb(0, 0, 0);
  font-size: 50px;
  line-height: 50px;
  margin: 0px;
  width: 560px;
  margin-bottom: 33px;
}
.services-card-text {
  margin: 0px;
  color: rgb(68, 68, 68);
  width: 497px;
}

.services-blocks {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 120px;
  position: relative;
}

.services-blocks::before {
  content: "";
  position: absolute;
  background-color: rgb(0, 0, 0);
  width: 7px;
  height: 319px;
  top: 0px;
  left: 277px;
}

.services-button-list {
  width: 160px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  padding-top: 79px;
}

.services-button-list li {
  margin: 0px;
  margin-bottom: 23px;
}

.services-button {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  color: rgb(0, 0, 0);
  background-color: transparent;
  border-width: 0px;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  width: 160px;
  height: 40px;
  padding-top: 11px;
  padding-bottom: 9px;
  position: relative;
  z-index: 1;
}

.button-filter {
  width: 200px;
}

.services-button-top {
  margin-top: 30px;
}

.modal-button {
  width: 200px;
  margin-left: 1px;
}

.services-button::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 8px;
  top: 17px;
  left: 0px;
  background: rgb(255, 199, 0);
  z-index: -1;
  transition: transform 0.2s;
}

.services-button:active {
  color: rgba(0, 0, 0, 0.3);
}

.services-button:hover::before {
  transform: scaleY(5);
}

.services-button-active {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 225, 127);
  border-width: 0px;
  text-transform: uppercase;
  text-align: center;
  width: 160px;
  height: 40px;
  cursor: pointer;
  position: relative;
}

.services-button-active::before {
  content: "";
  position: absolute;
  background-color: rgb(0, 0, 0);
  width: 120px;
  height: 40px;
  top: 0px;
  left: 160px;
}

.services-button-active:focus {
  outline: 0px;
  border: 0px;
}

.services-button:focus {
  outline: 0px;
  border: 0px;
}

.services-button:focus::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 8px;
  top: 17px;
  left: 0px;
  background: rgb(175, 79, 255);
  z-index: -1;
  transition: transform 0.2s;
}

.services-button:active::before {
  background: rgb(255, 199, 0);
}

.delivery {
  margin-bottom: 97px;
  padding: 0px;
}


.delivery-order {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.2em;
  color: rgb(0, 0, 0);
  background-image: linear-gradient(to right, rgb(255, 225, 127) 125px, rgb(240, 240, 240) 125px);
  display: block;
  padding-top: 38px;
  padding-bottom: 39px;
  padding-left: 250px;
  padding-right: 250px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
}

.delivery-order:focus {
  border: 0;
  outline: 5px solid rgb(175, 79, 255);
}

.delivery-order:hover {
  background-image: linear-gradient(to right, rgb(255, 199, 0) 125px, rgb(235, 235, 235) 125px);
}

.delivery-order::before {
  content: "";
  position: absolute;
  width: 125px;
  height: 100%;
  top: 0px;
  left: 0px;
  background-image: url("../img/other/delivery.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.delivery-order::after {
  content: "i";
  position: absolute;
  font-family: sans-serif;
  text-transform: lowercase;
  font-size: 18px;
  font-weight: 700;
  box-sizing: border-box;
  display: block;
  padding-top: 8px;
  padding-left: 5px;
  color: rgba(0, 0, 0, 0.3);
  width: 40px;
  height: 40px;
  top: 50%;
  right: 33px;
  transform: translateY(-50%);
  background-color: rgba(220, 220, 220, 0.5);
  border-radius: 50%;
}

.delivery-order:hover::after {
  color:rgba(0,0,0);
  background: rgb(220, 220, 220);
}

.delivery-order:active::after {
  color: rgba(0, 0, 0, 0.3);
}

.delivery-order:active {
  background-color: rgb(235, 235, 235);
  color:rgba(0, 0, 0, 0.3);
}

.delivery-order:active.delivery-order:focus {
  outline: 0;
}

.delivery-order:active::before {
  opacity: 0.3;
}



.information {
  display: flex;
  justify-content:space-between;
  padding-top: 50px;
  padding-bottom: 70px;
}

.information-about, .information-contacts {
  width: 560px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}

.information-text {
  width: 515px;
  color: rgb(68, 68, 68);
  margin: 0px;
  margin-bottom: 5px;
}

.information-text-next {
  margin: 0px;
  margin-top: 26px;
  margin-bottom: 74px;
}

.information-title {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  margin: 0px;
  margin-bottom: 45px;
  position: relative;
}

.information-title::before {
  position: absolute;
  content: "";
  background-color: rgb(0, 0, 0);
  width: 80px;
  height: 7px;
  top: -50px;
  left: 0px;
}

.information-list {
  margin: 0px;
  margin-bottom: 30px;
  padding: 0px;
}

.information-list-item {
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  padding-left: 34px;
  padding-bottom: 20px;
  position: relative;
}

.information-list-item::before {
  content: "";
  position: absolute;
  background-color: rgb(255, 199, 0);
  width: 8px;
  height: 8px;
  border-radius: 50%;
  left: 0px;
  top: 5px;
}



.information-text-bold {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: rgb(68, 68, 68);
  margin-top: 24px;
  margin-bottom: 15px;
}

.information-schedule {
  padding: 0px;
  list-style: none;
  margin-top: 2px;
  margin-bottom: 52px;
}

.contacts-phone {
  color: rgb(68, 68, 68);
  font-size: 18px;
  line-height: 30px;
  border-radius: 25px;
}

.contacts-phone:focus {
  border: 0;
  outline: 2px solid rgb(175, 79, 255);
  outline-offset: 2px;
}


.information-schedule-item {
  color: rgb(68, 68, 68);
}

.subscribe {
  background-color: rgb(240, 240, 240);
  padding-top: 76px;
  padding-bottom: 129px;
  margin: 0 auto;
}

.subscribe-top {
  display: flex;
  justify-content:space-between;
  align-items: center;
  margin-bottom: 61px;
}

.subscribe-bottom {
  display: flex;
  justify-content:space-between;
  align-items: baseline;
}

.subscribe-title {
  margin: 0px;
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  width: 410px;
}

.subscribe-text {
  margin: 0px;
  color: rgb(68, 68, 68);
  width: 560px;
  align-self: flex-end;
}

.subscribe-form {
  width: 862px;
  display: flex;
}

.subscribe-input {
  padding: 0;
  padding-left: 3px;
  box-sizing: border-box;
  width: 600px;
  height: 55px;
  font-size: 18px;
  line-height: 30px;
  color: rgb(68, 68, 68, 0.5);
  border: 0px;
  outline: none;
  border-bottom: 3px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
}

.subscribe-input::placeholder {
  color: rgb(68, 68, 68, 0.5);
  font-size: 18px;
  line-height: 30px;
}



.subscribe-input:focus {
  color: rgb(68, 68, 68, 0.5);
  background-color: rgb(220, 220, 220);
  border: 0;
}

.subscribe-input:not(:placeholder-shown) {
  background-color: transparent;
  color:rgba(0, 0, 0);
  border-bottom: 3px solid rgba(0,0,0);
}

.subscribe-input:invalid {
  border-bottom: 3px solid rgb(255, 61, 61);
}

.subscribe-input:hover::placeholder {
  color: rgb(68, 68, 68, 0.7);
}

.subscribe-input:hover {
  border-bottom: 3px solid rgba(0, 0, 0, 0.2);
}

.subscribe-button {
  font-family: "Raleway", sans-serif;
  color: rgb(0, 0, 0);
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  width: 260px;
  padding: 0;
  margin: 0;
  padding-top: 13px;
  padding-bottom: 15px;
  background-color: transparent;
  box-sizing: border-box;
  display: inline-block;
  border: 3px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.subscribe-button:focus {
  outline: 0;
  border: 3px solid rgb(175, 79, 255);
}

.subscribe-button:hover {
  color: white;
  background-color: rgba(0,0,0);
}

.subscribe-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.subscribe-button:active.subscribe-button:focus {
  border: 0;
}

.subscribe-free {
  color: rgb(68, 68, 68);
  position: relative;
  line-height: 30px;
}

.subscribe-free::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  background-image: url("../img/other/tick-big.svg");
  top: 50%;
  left: -35px;
  transform: translateY(-50%);
}

/*--- Footer --- */

.page-footer {
  background-color: rgb(68, 68, 68);
  color: rgb(255, 255, 255);
  padding-top: 62px;
  padding-bottom: 61px;
}

.footer-container {
  display: grid;
  grid-template-columns: 363px 440px 357px;
  grid-template-rows: auto auto auto;
}

.page-footer-logo {
  grid-column: 1 / -1;
  margin: 0px;
  margin-left: -2px;
  margin-bottom: 35px;
}

.footer-logo {
  display: block;
}

.footer-address {
  margin: 0px;
  margin-bottom: 49px;
  padding:0px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
}

.yellow-line {
  position: relative;
  align-self:center;
}

.yellow-line::after {
  position: absolute;
  content: "";
  top: -4px;
  width: 80px;
  height: 7px;
  background: rgb(255, 199, 0);
  transform: translateY(-50%);
}

.footer-links {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  color: rgb(255, 255, 255);
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  margin: 0px;
  padding: 0px;
  position: relative;
}

.footer-links:active {
  opacity: 0.3;
}
.footer-links:focus {
  border: 0px;
  outline: 0px;
}

.footer-links:focus::before {
  position:absolute;
  content: "";
  width: 120%;
  height: 50px;
  top: 50%;
  left: -15%;
  transform: translateY(-50%);
  border: 2px solid rgb(175, 79, 255);
  border-radius: 25px;
  background-color: transparent;
}

.footer-links:active.footer-links:focus {
  border: 0px;
  outline: 0px;
}

.footer-links:active.footer-links:focus::before {
  border: 0px;
  outline: 0px;
}

.footer-links:hover {
  color: rgb(255, 199, 0);
}

.underline-footer:hover::before {
  content: "";
  position: absolute;
  width: 99%;
  height: 2px;
  top: 25px;
  left: 0px;
  background: rgb(255, 199, 0);
}

.footer-links-list {
  padding: 0px;
  margin: 0px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 28px;
  margin-bottom: 25px;
}

.footer-social-list {
  padding: 0px;
  margin: 0px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  gap: 15px;
}

.footer-social-button {
  display: inline-block;
  width: 40px;
  height: 40px;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.footer-social-button:focus {
  outline: 5px solid rgb(175, 79, 255);
  outline-offset: -1px;
  position: relative;
  background-color: inherit;
}

.footer-social-button:focus::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: white;
}

.footer-facebook-button.footer-social-button:focus::after {
  -webkit-mask: url(../img/other/facebook.svg) center no-repeat;
  mask: url(../img/other/facebook.svg) center no-repeat;
}

.footer-instagram-button.footer-social-button:focus::after {
  -webkit-mask: url(../img/other/instagram.svg) center no-repeat;
  mask: url(../img/other/instagram.svg) center no-repeat;
}

.footer-twitter-button.footer-social-button:focus::after {
  -webkit-mask: url(../img/other/twitter.svg) center no-repeat;
  mask: url(../img/other/twitter.svg) center no-repeat;
}

.footer-facebook-button {
  background-image: url("../img/other/facebook.svg");
}

.footer-instagram-button {
  background-image: url("../img/other/instagram.svg");
}

.footer-twitter-button {
  background-image: url("../img/other/twitter.svg");
}

.footer-social-button:hover {
  background-color: rgb(255, 199, 0);
}

.footer-social-button:active::after {
  content: "";
  background: rgba(255,199,0,0.7);
  display: block;
  position: absolute;
  width: 40px;
  height: 40px;
  top: 0;
  left: 0;
  border-radius: 50%;
}

.footer-social-button:active.footer-social-button:focus {
  outline: 0px;
}

.footer-phone {
  justify-self: end;
}

.footer-phone-number {
  color: rgb(255, 255, 255);
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
}

.footer-phone-number:hover {
  color: rgb(255, 199, 0);
}

.footer-phone-number:focus {
  outline: 0;
  border: 0;
  position: relative;
}

.footer-phone-number:focus::before {
  position: absolute;
  content: "";
  width: 116%;
  height: 27px;
  top: 50%;
  left: -8%;
  transform: translateY(-50%);
  box-sizing: border-box;
  border: 2px solid rgb(175, 79, 255);
  border-radius: 25px;
  background-color: transparent;
}

.footer-phone-number:active {
  opacity: 0.3;
}

.footer-phone-number:active.footer-phone-number:focus {
  display: none;
}

.htmlacademy-link {
  justify-self: end;
  position: relative;
  margin-top: 2px;
}



.htmlacademy-link:focus {
  border: 0;
  outline: 0;
}

.htmlacademy-link:focus::after {
  content: "";
  position: absolute;
  width: 135px;
  height: 53px;
  top: -10px;
  left: -10px;
  border: 2px solid rgb(175, 79, 255);
  box-sizing: border-box;
  border-radius: 10px;
  background-color: transparent;
}

.htmlacademy-link-svg:hover path {
  fill: white;
}

.htmlacademy-link-svg:active path {
  fill: rgba(255, 255, 255, 0.3);
}

.htmlacademy-link:active.htmlacademy-link:focus::after {
  border: 0;
}


/* Страница Каталога */

.inner-header {
  padding-left: 60px;
  padding-top: 37px;
  margin-bottom: 49px;
}

.inner-header-title {
  font-family: "Raleway", sans-serif;
  color: rgb(0, 0, 0);
  font-size: 50px;
  line-height: 50px;
  margin: 0px;
  margin-bottom: 23px;
}

.breadcrumbs-list {
  margin: 0px;
  padding: 0px;
  display: flex;
  box-sizing: border-box;
  /* list-style-type: none; */
}

.breadcrumbs-item {
  margin: 0px;
  margin-right: 35px;;
  padding: 0px;
  list-style-type: none;
  position: relative;
}

.breadcrumbs-item::after {
  content: "";
  position: absolute;
  width: 4px;
  height: 7px;
  top: 7px;
  right: -20px;
  background-image: url("../img/other/dropdown.svg");
}

.breadcrumbs-item:last-child::after {
  content: none;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 19px;
  color: rgba(0, 0, 0, 0.6);
  text-decoration: none;
  display: block;
  cursor: pointer;
}

.breadcrumbs-link:focus {
  border: 0;
  outline: 5px solid rgb(175, 79, 255);
  outline-offset: 5px;
}

.breadcrumbs-link:hover {
  color: rgba(0, 0, 0);
}

.breadcrumbs-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs-link:active.breadcrumbs-link:focus {
  outline: none;
}

.catalog-products-title-right {
  font-family: "Raleway", sans-serif;
  color: rgb(0, 0, 0);
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  margin: 0px;
  padding: 0px;
  padding-left: 72px;
  margin-right: 38px;
  align-self: center;
}

.catalog-button-box {
  display: flex;
  margin-left: auto;
  margin-right: 9px;
  flex-direction: row;
  width: 41px;
  justify-content: space-between;
  align-items: center;
}

.catalog-button-updown {
  display: block;
  padding: 9px;
  height: 10px;
  display: flex;
}

.catalog-button-updown:focus {
  border: 0;
  outline: 5px solid rgb(175, 79, 255);
}

.catalog-button-updown:hover .button-updown {
  border: 0;
  fill: rgba(0, 0, 0, 0.5);
}

.catalog-button-updown:active .button-updown {
  border: 0;
  fill: rgba(0, 0, 0);
}

.catalog-button-updown:active.catalog-button-updown:focus {
  border: 0;
  outline: none;
}

.button-light {
  fill: rgba(0, 0, 0, 0.3);
}

/* .sorting-type {
  margin: 0px;
  padding: 0px;
  height: 18px;
  top: 0px;
  display: flex;
  align-items: center;
} */

.select-control {
  font-family: "Rubik", serif;
  font-size: 16px;
  line-height: 19px;
  margin: 0px;
  /* padding: 0px; */
  padding: 8px;
  padding-right: 12px;
  background-color: transparent;
  border: 0px;
  cursor: pointer;
  align-self: center;
}

.select-control:focus {
  border: 0;
  outline: 5px solid rgb(175, 79, 255);
  outline-offset: 5px;
}

.select-control:hover {
  color: rgba(0, 0, 0, 0.6);
}

.select-control:active {
  color: rgba(0, 0, 0, 0.3);
}

.select-control:active.select-control:focus {
  outline: none;
}

.catalog-filter {
  display: flex;
  flex-direction: column;
}

.catalog-filter-group {
  margin: 0px;
  margin-bottom: 64px;
  padding: 0px;
  border: none;
}

.catalog-filter-group:last-of-type {
  margin-top: -21px;
  margin-bottom: 26px;
}

.catalog-filter-title {
  margin-bottom: 39px;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color:rgba(0, 0, 0);
  position: relative;
}

.catalog-filter-title::before {
  position: absolute;
  content: "";
  width: 200px;
  height: 2px;
  top: -14px;
  background-color: rgba(0, 0, 0);
}

.catalog-filter-title-bottom {
  margin-bottom: 22px;
}


.price-scale {
  position: relative;
  height: 2px;
  margin-bottom: 16px;
  background-color: rgb(220, 220, 220);
  border-radius: 2px;
}

.price-scale-active {
  position: absolute;
  height: 2px;
  background-color: rgba(0, 0, 0);
}

.price-toggle-with {
  display: flex;
  flex-direction: column;
  position:absolute;
}

.price-toggle {
  width: 18px;
  height: 18px;
  background: rgb(235, 235, 235);
  border: 2px solid rgb(36, 36, 36);
  border-radius: 50%;
  cursor: pointer;
  margin-bottom: 11px;
}

.price-toggle-min {
  top: -8px;
  left: -8px;
}

.price-toggle-max {
  top: -8px;
  right: -50%;
  transform: translateX(-50%);
  align-items: center;
}

.price-toggle:focus {
  border: 2px solid rgb(175, 79, 255);
  outline: none;
}
.price-toggle:focus + .catalog-filter-label {
 color: rgba(175, 79, 255, 0.3);
}

.price-toggle:active {
  background: rgba(0, 0, 0);
  border: none;
  outline: none;
}
.price-toggle:active + .catalog-filter-label {
 color: rgba(0, 0, 0);
}


.catalog-filter-label {
  display: inline-block;
  color:rgba(0, 0, 0, 0.3);
  font-size: 15px;
  line-height: 18px;
}

.catalog-filter-input {
  width: 50px;
  padding: 0 2px;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color:inherit;
  background-color: transparent;
  border: none;
  appearance: textfield;
}

.catalog-filter-input:focus {
  border: none;
  outline:  1px solid rgba(175, 79, 255);
  outline-offset: 2px;
}

.catalog-filter-input::-webkit-outer-spin-button,
.catalog-filter-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.control-input[type="checkbox"]:checked + .control-mark::before {
  position: absolute;
  content: "";
  top: 3px;
  left: 3px;
  width: 10px;
  height: 10px;
  background-image: url("../img/other/tick.svg");
  background-repeat: no-repeat;
  background-position: center;
}


.control-input[type="checkbox"]:checked:focus + .control-mark::before {
  background-image: url("../img/other/tick-violet.svg");
}

.control-input[type="checkbox"]:checked + .control-mark {
  border: 2px solid rgba(0, 0, 0);
}

.control-input[type="checkbox"]:checked:hover ~ .control-label-name {
  color: rgba(0, 0, 0, 0.5);
}

.control-input[type="checkbox"]:checked:hover + .control-mark {
  border-color: rgba(0, 0, 0, 0.5);
}

.control-input[type="checkbox"]:checked:focus + .control-mark {
  border: 2px solid rgba(175, 79, 255, 1);
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  content: "";
  background-color: rgb(0, 0, 0);
}

.control-input[type="radio"]:checked + .control-mark {
  border-color: rgb(0, 0, 0);
}

.control-label {
  position: relative;
  padding-left: 37px;
}

.control-label:focus-within {
  color: rgba(175, 79, 255, 1);
}

.control-label:focus-within .control-mark {
  border-color: rgba(175, 79, 255, 1);
}

.control-label-name:hover {
  color: rgba(0,0,0);
}

.control-label-name:active {
  color: rgba(0,0,0,0.2);
}

.control-label:hover .control-mark {
  border-color: rgba(0,0,0,0.5);
}

.control-input[type="checkbox"]:checked:hover + .control-mark::before {
  background-image: url("../img/other/tick.svg");
  opacity: 0.5;
}

.control-input[type="radio"]:checked:focus + .control-mark::before {
  background-color: rgba(175, 79, 255, 1);
}
.control-input[type="radio"]:checked:focus + .control-mark {
  border-color: rgba(175, 79, 255, 1);
}


.control-label:hover .control-mark::before {
  opacity: 0.5;
}

.control-label:hover .control-mark {
  border-color: rgba(0,0,0,0.2);
}

.control-input[type="radio"]:checked:active + .control-mark {
  border-color: rgba(0, 0, 0, 0.2);
 }
 .control-input[type="radio"]:active + .control-mark {
  border-color: rgba(0, 0, 0, 0.2);
 }


.control-mark {
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}

.control-label-name {
  font-size: 16px;
  line-height: 19px;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.catalog-filter-item {
  margin-bottom: 10px;
}

.product-card-title {
  line-height: 24px;
  margin:  0px;
  padding: 0px;
  grid-row: 3 / 4;
  grid-column: 1 / 2;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.product-card-title:focus {
  border: 0;
  outline: none;
  color: rgb(175, 79, 255);
}

.product-card-title:focus + .product-card-price {
  color: rgb(175, 79, 255);
}

.product-card:focus-within .product-card-link {
  border: 0;
  outline: 5px solid rgb(175, 79, 255);
}

.memo-new {
  position:absolute;
  width: 60px;
  height: 60px;
  top: 27px;
  right: 27px;
  background-image: url(../img/other/new.svg);
}



.button-loadmore {
  font-family: "Raleway", sans-serif;
  color: rgb(0, 0, 0);
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  box-sizing: border-box;
  padding-top: 18px;
  padding-bottom: 18px;
  border: 0;
  outline: 3px solid rgba(0, 0, 0, 0.1);
  outline-offset: -3px;
  margin-bottom: 51px;
}

.button-loadmore:focus {
  border: 0;
  outline-offset: -5px;
  outline: 5px solid rgb(175, 79, 255);

}

.button-loadmore:hover {
  outline: 3px solid rgb(0, 0, 0);
}

.button-loadmore:active {
  opacity: 0.3;
}


.pagination-list {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
  line-height: 19px;
  margin-left: 57px;
}

.pagination-item {
  margin: 0px;
  padding: 0px;
}

.pagination-catalog {
  background-color:  rgb(235, 235, 235);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.pagination-link {
  display: block;
  font-family: "Raleway", sans-serif;
  color: rgb(0, 0, 0);
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  box-sizing: border-box;
  padding: 26px;
  padding-left: 29px;
}

.pagination-link:focus {
  border: 0;
  outline: 5px solid rgb(175, 79, 255);
  outline-offset: -5px;
}

.pagination-link:hover {
  background-color: rgb(220, 220, 220);
  outline: none;
}

.pagination-link:active {
  background-color: rgb(220, 220, 220);
  color: rgba(0,0,0,0.3);
}

.pagination-item:active {
  color: rgba(0,0,0,0.1);
}

.pagination-page {
  color: rgba(68,68,68,0.3);
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  text-decoration: none;
  box-sizing: border-box;
  padding-top: 8px;
  padding-bottom: 11px;
  padding-right: 14px;
  padding-left: 14px;
}

.pagination-page:focus {
  outline: 5px solid rgb(175, 79, 255);
  outline-offset: -5px;
}

.pagination-page:hover {
  color: rgba(68,68,68,1);
  outline: none;
}


.search {
  width: 516px;
  position: relative;
  height: 40px;
  grid-column: 1 / 2;
}


input.search-input {
  outline: none;
  border: 0;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: rgb(0, 0, 0);
  box-sizing: border-box;
  width: 516px;
  height: 40px;
  padding-left: 50px;
  padding-right: 170px;
  border: 2px solid transparent;
  border-radius: 20px;
  background: rgb(255, 225, 127);
  display:block;
}

input.search-input:focus {
  outline: none;
  border: 0;
  border: 2px solid rgb(175, 79, 255);
}

input.search-input::placeholder {
  color: rgb(0, 0, 0);
  opacity: 0.3;
}

input.search-input:hover::placeholder {
  color: rgb(0, 0, 0);
  opacity: 0.6;
}

.search-button-active {
  display: none;
}

input.search-input:not(:placeholder-shown) ~ .search-button-active {
  display: block;
}

input.search-input:not(:placeholder-shown) {
  border: 2px solid rgb(0, 0, 0);
}

.search-button-active {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: rgb(0, 0, 0);
  position: absolute;
  top: 0;
  right: 0px;
  width: 160px;
  height: 40px;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 0 20px 20px 0;
  background: rgb(255, 225, 127);
  cursor: pointer;
}

.search-button-active:focus {
  outline: none;
  border: 0;
  border: 2px solid rgb(175, 79, 255);
}

.search-button-active:hover {
  border: 2px solid rgb(0, 0, 0);
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

.search-button-active:active {
  border: 2px solid rgb(0, 0, 0);
  background: rgb(0, 0, 0);
  color: rgba(255, 255, 255, 0.3);
}
/* КОНЕЦ - Стили за активной строки поиска */

.search::before {
  position: absolute;
  content: "";
  background-image: url("../img/other/search.svg");
  width: 16px;
  height: 16px;
  /* z-index: 100; */
  top: 13px;
  left: 15px;
}

.user-link-enter {
  position: relative;
}
.user-link-enter::after {
  position: absolute;
  content: "";
  top: 13px;
  left: 21px;
  width: 13px;
  height: 12px;
  background-image: url("../img/other/user.svg");
}

.user-link-compare {
  position: relative;
}
.user-link-compare::after {
  position: absolute;
  content: "";
  top: 13px;
  left: 21px;
  width: 10px;
  height: 12px;
  background-image: url("../img/other/compare.svg");
}

.user-link-basket {
  position: relative;
}
.user-link-basket::after {
  position: absolute;
  content: "";
  top: 12px;
  left: 19px;
  width: 16px;
  height: 14px;
  background-image: url("../img/other/cart.svg");
}


.product-card-list {
  display: grid;
  box-sizing: border-box;
  grid-template-columns: repeat(2, 360px);
  row-gap: 47px;
  column-gap: 40px;
  margin-bottom: 46px;
}

.product-card {
  display: grid;
  grid-template-rows: 380px 32px min-content;
  grid-template-columns:  280px 80px;
  position: relative;
}

.product-card-link {
  grid-column: 1 / -1;
  display: block;
  position: relative;
}

.product-card-link::before {
  content: "";
  position: absolute;
  background-color: rgba(240, 240, 240, 0.8);
  top:0;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 10;
  opacity: 0;
  visibility:hidden;
}

.product-card:hover .product-card-link::before {
  opacity: 1;
  visibility: visible;
}

.product-card:hover .product-card-button {
  display: block;
}

.product-card-button {
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  padding-top: 14px;
  padding-bottom: 16px;
  padding-right: 36px;
  padding-left: 36px;
  position: relative;
  z-index: 20;
  top: -210px;
  left: 45px;
  display: none;
}

.product-card-button::before {
content: "";
position: absolute;
width: 180px;
height: 8px;
top: 20px;
left:45px;
background:  rgb(255, 199, 0);
z-index: -1;
transition: transform 0.2s;
}

.product-card-button:hover::before {
  transform: scaleY(6.3);
}

.product-card-price {
  margin:  0px;
  padding: 0px;
  grid-row: 3 / 4;
  grid-column: 2 / 3;
  line-height: 21px;
  padding-top: 3px;
  padding-right: 1px;
  text-align: end;
  font-size: 18px;
  color: rgb(68, 68, 68);
  font-weight: 400;
}


.filter {
  margin: 0px;
  padding: 0px;
  display: grid;
  grid-template-columns: 328px 832px;
  grid-template-rows: min-content min-content;
}

.filter-title-left {
  font-family: "Raleway", sans-serif;
  color: rgb(0, 0, 0);
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  margin: 0px;
  padding: 0px;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: rgb(220, 220, 220);
  padding-left: 60px;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  position: relative;
}

.filter-sorting-title {
  display: flex;
  margin: 0px;
  padding: 0px;
  /* padding-top: 25px;
  padding-bottom: 25px; */
  background-color: rgb(235, 235, 235);
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  position: relative;
  align-items: center;
}

.filter-sorting-title::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100vw;
  background-color: rgb(220, 220, 220);
  top: 0px;
  left: -100vw;
  z-index: -1;
  box-shadow: -100vw 0px rgb(220, 220, 220), 100vw 0px rgb(235, 235, 235);
}

.filter-left-column {
  background-color: rgb(235, 235, 235);
  color:rgba(0, 0, 0);
  padding-left: 59px;
  padding-right: 68px;
  padding-top: 83px;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  position: relative;
}

.filter-right-column {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  padding-top: 69px;
  padding-left: 72px;
  padding-bottom: 75px;
  position: relative;
}

.filter-right-column::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100vw;
  background-color: rgb(235, 235, 235);
  top: 0px;
  left: -100vw;
  z-index: -1;
  box-shadow: -100vw 0px rgb(235, 235, 235), 100vw 0px rgb(255, 255, 255);
}

.catalog-button {
  border: 0;
}

.navigation-cart-count {
  position: absolute;
  display: block;
  top: 9px;
  left: 4px;
  width: 21px;
  height: 21px;
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  font-size: 14px;
  line-height: 17px;
  padding-top: 3px;
  text-align: center;
}

.popover-cart {
  position: absolute;
  top: 43px;
  right: -58px;
  z-index: 1;
  box-sizing: border-box;
  width: 320px;
  font-size: 16px;
  line-height: 20px;
  color: rgba(255, 255, 255);
  background-color: rgba(0, 0, 0);
  min-height: 229px;
  box-shadow: 0 10px 0 0 rgb(229, 229, 229);
  z-index: 30;
  display: none;
}

.popover-open {
  display: block;
}

.popover-cart::before {
  position: absolute;
  content: "";
  background-color: rgb(0, 0, 0);
  width:10px;
  height: 10px;
  top: -5px;
  right: 50%;
  transform: translateX(50%) rotate(45deg);
}

.cart-items-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.cart-item {
  display: flex;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.cart-item-img {
  display: block;
  margin-right: 23px;
}

.cart-item-name {
  border: 0;
  outline: none;
  text-decoration: none;
  color: rgba(255,255,255);
  margin: 0px;
  padding: 0px;
  font-size: 16px;
  line-height: 20px;
  width: 170px;
  position: relative;
}

.cart-item-name::before {
  position: absolute;
  content: "";
  top: -2px;
  left: -64px;
  width: 41px;
  height: 43px;
  box-sizing: border-box;
  background-color: transparent;
}


.cart-item-name:focus {
  color: rgba(175, 79, 255, 1);
}
.cart-item-name:focus::before {
  outline: 5px solid rgb(175, 79, 255);
}

.cart-item-name:hover {
  color: rgba(255, 255, 255, 0.6);
}
.cart-item-name:hover::before {
  background-color: rgba(0, 0, 0, 0.4);
}

.cart-item-name:active {
  color: rgba(255, 255, 255, 0.3);
}
.cart-item-name:active::before {
  background-color: rgba(0, 0, 0, 0.7);
  outline: none;
}

.delete-cart-item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
  width: 25px;
  height: 25px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin-left: auto;
  margin-top: 5px;
  align-self: flex-start;
}

.delete-cart-item:focus {
  border: none;
  outline: 2px solid rgb(175, 79, 255);
  outline-offset: -3px;
  border-radius: 50%;
}

.delete-cart-item:hover svg {
 fill: rgba(255, 255, 255, 0.6);
}

.delete-cart-item:active {
  border: none;
  outline: none;
}

.delete-cart-item:active svg {
  fill: rgba(255, 255, 255, 0.3);
 }

.cart-total {
  display: flex;
  justify-content: space-between;
  padding: 11px 20px;
  color: rgb(255, 255, 255);
  background-color: rgb(26, 26, 26);
}

.cart-text {
  font-size: 16px;
  line-height: 20px;
  color: inherit
}

.open-cart {
  display: block;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  box-sizing: border-box;
  text-decoration: none;
  padding-top: 15px;
  padding-bottom: 15px;
  margin: 20px;
  color: rgba(0, 0, 0);
  background-color: rgba(255, 255, 255);
}

.open-cart:focus {
  border: 0;
  outline: 5px solid rgb(175, 79, 255);
  outline-offset: -1px;
}

.open-cart:hover {
  background-color: rgb(255, 225, 127);
}

.open-cart:active {
  background-color: rgb(255, 225, 127);
  color: rgba(0, 0, 0, 0.3);
  outline: none;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(229, 229, 229, 0.8);
  z-index: 100;
}

.modal-delivery {
  position: relative;
  margin: auto;
  padding-top: 73px;
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 78px;
  background-color: rgb(255, 255, 255);
  color:rgb(0, 0, 0);
  width: 920px;
  outline: 10px solid rgb(0, 0, 0);
  outline-offset: -10px;
  box-sizing: border-box;
}

.modal-close-button {
  position: absolute;
  padding: 0;
  top: 89px;
  right: 80px;
  width: 26px;
  height: 26px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.modal-close-button:focus {
  border: none;
  outline: 5px solid rgb(175, 79, 255);
  outline-offset: 10px;
  border-radius: 50%;
}

.modal-close-button:hover svg {
  fill: rgba(0, 0, 0, 0.6);
}

.modal-close-button:active {
  outline: none;
}

.modal-close-button:active svg {
  fill: rgba(0, 0, 0, 0.3);
  outline: none;
}

.modal-title {
  margin: 0;
  margin-bottom: 67px;
  font-family: "Raleway", sans-serif;
  color: rgb(0, 0, 0);
  font-size: 50px;
  line-height: 50px;
}

.modal-group {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  position: relative;
}

.modal-container-top {
  display: grid;
  grid-template-columns: 360px 360px;
  gap: 40px;
  margin-bottom: 13px;
}

.modal-container-bottom {
  display: grid;
  grid-template-columns: 560px 160px;
  gap: 40px;
  margin-bottom: 36px;
}

.modal-form-title {
  /* color:rgba(0, 0, 0); */
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  margin-bottom: 15px;
  position: relative;
}

.modal-form-input {
  padding: 20px;
  padding-left: 20px;
  padding-right: 40px;
  border: 0px;
  outline: none;
  background-color: rgb(240, 240, 240);
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 6px;
  box-sizing: border-box;
}

.modal-form-input:focus{
  outline: 5px solid rgb(175, 79, 255);
}

.modal-form-input:active {
  outline: 3px solid rgba(0, 0, 0);
}

.modal-form-input:invalid {
  outline: 3px solid rgb(255, 61, 61);
}

.modal-name::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 12px;
  top: 59px;
  right: 20px;
  background-image: url("../img/other/user-modal.svg");
  background-repeat: no-repeat;
  background-position: center;
  z-index: 222;
}

.modal-email::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 12px;
  top: 59px;
  right: 20px;
  background-image: url("../img/other/mail-modal.svg");
  background-repeat: no-repeat;
  background-position: center;
  z-index: 222;
}

.modal-form-input::placeholder {
  color: rgba(0, 0, 0, 0.6);
  font-size: 16px;
  line-height: 20px;
}

.modal-form-input-caption {
  font-size: 14px;
  line-height: 20px;
}

.red {
  color: rgb(255, 61, 61);
}


.modal-form-count {
  padding-left: 56px;
  padding-right: 56px;
  text-align: center;
  width: 160px;
  margin: 0px;
}

.modal-form-count-div {
  display: flex;
  justify-content: space-between;
}

.modal-info-button {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  text-align: center;
  padding-top: 3px;
  margin-right: 14px;
  margin-top: -2px;
  border: none;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: rgba(0, 0, 0);
  top: 0px;
  right: 15px;
  cursor: pointer;
  background-color:  rgb(255, 225, 127);
}

.modal-info-button:hover + .popover-modal {
  display: block;
}

.modal-info-button:focus {
  border: 0;
  outline: 2px solid rgba(175, 79, 255, 1);
}

.modal-info-button:focus + .popover-modal {
  display: block;
}

.modal-count {
  width: 160px;
  display: flex;
  box-sizing: border-box;
  background-color: rgb(240, 240, 240);
  position: relative;
}

.button-count {
  top: 50%;
  transform: translateY(-50%);
  padding: 0px;
  margin: 0px;
  width: 54px;
  border: 0px;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
}

.button-plus {
  right: 0px;
}

.button-count:focus {
  border: none;
  outline: none;
}

.button-count:focus::before  {
  content: "";
  position: absolute;
  width: 32px;
  height: 32px;
  top: -7px;
  left: 11px;
  border-radius: 50%;
  opacity: 1;
  outline: 2px solid rgb(175, 79, 255);
}

.button-count:hover svg {
  fill-opacity: 1;
}

.button-count:active svg {
  fill-opacity: 0.1;
}

.button-count:active::before {
  display: none;
}

.popover-modal {
  position: absolute;
  top: 34px;
  right: -20px;
  z-index: 1;
  box-sizing: border-box;
  width: 200px;
  padding: 19px;
  color: rgba(255, 255, 255);
  background-color: rgba(0, 0, 0);
  min-height: 160px;
  box-shadow: 0 10px 0 0 rgb(229, 229, 229);
  z-index: 30;
  display: none;
}

.popover-modal-text {
  font-size: 16px;
  line-height: 20px;
  padding: 0px;
  margin: 0px;
}

/* .popover-modal::before {
  position: absolute;
  content: "";
  background-color: rgb(0, 0, 0);
  width:12px;
  height: 12px;
  top: -4px;
  right: 47px;
  transfor */
