@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/rubik/rubik-400.woff2) format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/rubik/rubik-700.woff2) format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 800;
  src: url(../fonts/rubik/rubik-800.woff2) format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url(../fonts/raleway/raleway-800.woff2) format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  background-color: white;
  color:  #444444;
}

.main-container {
  flex-grow: 1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.main-button {
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  padding-top: 14px;
  padding-bottom: 16px;
  padding-right: 36px;
  padding-left: 36px;
  position: relative;
  z-index: 1;
}

.main-button::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 8px;
  top: 20px;
  left: 0px;
  background: #FFE17F;;
  z-index: -1;
  transition: transform 0.2s;
}

.main-button:hover::before {
  transform: scaleY(6.3);
}

.button-select {
  background-color: #000000;
  color: #FFE17F;
}

.page-header {
  color:black;
}

.page-header-logo {
  margin-left: 60px;
  margin-bottom: 16px;
  width: 145px;
}

.navigation {
  display: flex;
  flex-direction: column;
  width: 1160px;
  margin: 0 auto;
  padding-top: 17px;
  /* padding-bottom: 38px; */
  background-image: linear-gradient(transparent 40px, #FFE17F 40px);

}

.navigation-user-list {
  width: 1160px;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  padding-left: 44px;
  padding-right: 40px;
  display: flex;
  flex-wrap: wrap;
  align-items:center;
  justify-content: space-between;
  box-sizing: border-box;
  list-style-type: none;
}

.navigation-list {
  width: 1160px;
  margin: 0;
  padding: 0;
  padding-left: 40px;
  padding-right: 36px;
  display: flex;
  flex-wrap: wrap;
  align-items:center;
  justify-content: space-between;
  box-sizing: border-box;
  list-style-type: none;
}

.navigation-submenu-list {
  margin: 0;
  padding: 0;
  margin-top: 31px;
  padding-left: 44px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  width: 1160px;
  box-sizing: border-box;
  /* display: none; */
}

.submenu-list {
  box-sizing: border-box;
  margin: 0;
  margin-right: 20px;
  padding: 0;
  width: 225px;
  list-style: none;
}

.navigation-link {
  display:block;
  padding: 15px 20px;
  font-family: "Raleway", sans-serif;
  color: black;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
}

.submenu-link {
  display:block;
  padding: 3px 15px 5px 15px;
  margin-bottom: 10px;
  color: black;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
}

.submenu-link:hover {
  opacity: 0.6;
}
.submenu-link:focus {
  opacity: 0.6;
}

.navigation-user-link {
  display:block;
  padding: 10px 21px;
  color: black;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
}

.navigation-user-link:hover {
  opacity: 0.6;
}

.navigation-user-link-gray {
  opacity: 0.3;
}

.main-index {
  color:black;
  background-color: #ffffff;
}

.page-container {
  width: 1160px;
  margin: 0 auto;
}

.slider {
  margin-bottom: 70px;
}

.slider-card {
  display:flex;
  justify-content: space-between;
  background-image: linear-gradient(#FFE17F 150px, transparent 150px);
  position: relative;
}

.slider-image {
  position: relative;
  align-self: center;
}

.slider-image img{
  display: block;
}

.slider-info {
  width: 560px;
  box-sizing: border-box;
  position: relative;
  padding-top: 121px;
  padding-bottom: 20px;
}

.slider-number {
  font-weight: 800;
  font-size: 180px;
  line-height: 30px;
  color: white;
  display: block;
  position: absolute;
  top: 80px;
  right: 49px;
}

.slider-slogan {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  margin: 0px;
  margin-bottom: 29px;
  position: relative;
}

.slider-description {
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  margin: 0px;
  margin-bottom: 37px;
}

.button-more {
  display:block;
  width: 150px;
  margin: 0px;
  margin-bottom: 51px;
}

.slider-features {
  margin: 0;
  padding: 0;
  list-style: none;
  display:flex;
  flex-wrap: wrap;
}

.slider-button {
  position: absolute;
  border: none;
  background-color: transparent;
  top: 50%;
  height: 60px;
  width: 20px;
  cursor: pointer;
}

.slider-pagination {
  margin: 0px;
  padding: 0px;
  width: 80px;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 183px;
  right: 60px;
}
.slider-pagination-button {
  width: 13px;
  height: 13px;
  background-color: transparent;
  border: 2px solid #000000;
  border-radius: 50%;
  cursor: pointer;
  padding: 1px;
}

.button-left {
  left: 0px;
  background-image: url(../img/other/slider-arrow-left.svg);
  transform: translate(0, -50%);
}

.button-right {
  right: 0px;
  background-image: url(../img/other/slider-arrow-right.svg);
  transform: translate(0, -50%);
}

.features-item {
  display:flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.features-value {
  font-weight: 400;
  font-size: 36px;
  line-height: 30px;
  width: 160px;
  margin-bottom: 11px;
}

.features-name {
  font-size: 16px;
  line-height: 30px;
  color:  #444444;
}

.productline {
  margin: 0px;
  padding: 0px;
  margin-bottom: 80px;
  /* outline: 5px solid rgba(255, 99, 78, 0.5);
  outline-offset: -5px; */
}

.productline-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 1160px;
}

.productline-item {
  width: 160px;
}

.productline-card {
  font-family: "Raleway", sans-serif;
  color: #000000;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-decoration: none;
  display: block;
  padding-top: 193px;
  position: relative;
}

.productline-card::before {
  position: absolute;
  content: "";
  width: 160px;
  height: 160px;
  top: 0px;
  background-color: #FFE17F;;
  background-image: url("../img/other/popular-1.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.services {
  margin: 0px;
  margin-bottom: 90px;
  background-image: linear-gradient(transparent 100px, #F0F0F0 100px);
}

.services-cards {
  width: 760px;
  padding-top: 70px;
  position: relative;
}

.services-cards-delivery::before {
  content: "";
  position: absolute;
  background-image: url("../img/other/services-1.svg");
  width: 136px;
  height: 164px;
  top: 83px;
  right: 66px;
}

.services-cards-guarantee::before {
  content: "";
  position: absolute;
  background-image: url("../img/other/services-2.svg");
  width: 171px;
  height: 195px;
  top: 83px;
  right: 66px;
}

.services-cards-credit::before {
  content: "";
  position: absolute;
  background-image: url("../img/other/services-3.svg");
  width: 156px;
  height: 188px;
  top: 83px;
  right: 66px;
}

.services-card-name {
  font-family: "Raleway", sans-serif;
  color: #000000;
  font-size: 50px;
  line-height: 50px;
  margin: 0px;
  width: 560px;
  margin-bottom: 33px;
}
.services-card-text {
  margin: 0px;
  color: #444444;
  width: 497px;
}

.services-blocks {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 69px;
  position: relative;
}

.services-blocks::before {
  content: "";
  position: absolute;
  background-color: black;
  width: 7px;
  height: 319px;
  top: 0px;
  left: 277px;
}

.services-button-list {
  width: 160px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  padding-top: 78px;
}

.services-button-list li {
  margin: 0px;
  margin-bottom: 25px;
}

.services-button {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  color: black;
  background-color: transparent;
  border-width: 0px;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  width: 160px;
  height: 40px;
  padding-top: 11px;
  padding-bottom: 9px;
  position: relative;
  z-index: 1;
}

.services-button::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 8px;
  top: 17px;
  left: 0px;
  background: #FFC700;
  z-index: -1;
  transition: transform 0.2s;
}

.services-button:hover::before {
  transform: scaleY(5);
}

.services-button-active {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  background-color: black;
  color: #FFE17F;
  border-width: 0px;
  text-transform: uppercase;
  text-align: center;
  width: 160px;
  height: 40px;
  cursor: pointer;
  position: relative;
}

.services-button-active::before {
  content: "";
  position: absolute;
  background-color: black;
  width: 120px;
  height: 40px;
  top: 0px;
  left: 160px;
}

.delivery {
  margin: 0px;
  margin-bottom: 97px;
  padding: 0px;
}

.delivery-order {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.2em;
  color: #000000;
  background-color: #F0F0F0;
  display: block;
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
}

.delivery-order::before {
  content: "";
  position: absolute;
  background-color: #FFE17F;
  background-image: url("../img/other/delivery.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 125px;
  height: 100px;
  top: 0px;
  left: 0px;
}

.delivery-order:hover::before {
  background-color: #FFC700;
}

.delivery-order::after {
  content: "";
  position: absolute;
  background-color: #DCDCDC;
  background-image: url("../img/other/info.svg");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  opacity: 0.3;
  width: 40px;
  height: 40px;
  top: 30px;
  right: 33px;
}

.delivery-order:hover::after {
  opacity: 1;
}


.information {
  display: flex;
  justify-content:space-between;
  padding-top: 50px;
  padding-bottom: 70px;
}

.information-about, .information-contacts {
  width: 560px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.information-text {
  width: 515px;
  margin: 0px;;
}

.information-title {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  margin: 0px;
  margin-bottom: 30px;
  position: relative;
}

.information-title::before {
  position: absolute;
  content: "";
  background-color: #000000;
  width: 80px;
  height: 7px;
  top: -50px;
  left: 0px;
}

.information-list {
  margin: 0px;
  margin-bottom: 30px;
  padding: 0px;
}

.information-list-item {
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  padding-left: 34px;
  padding-bottom: 20px;
  position: relative;
}

.information-list-item::before {
  content: "";
  position: absolute;
  background-color: #FFC700;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  left: 0px;
  top: 5px;
}

.information-text {
  color: #444444;
  margin: 0px;
  margin-bottom: 30px;
}

.information-text-bold {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: #444444;
}

.information-schedule {
  padding: 0px;
  list-style: none;
}

.information-button {
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 21px;
  display: inline-block;
  text-align: center;
  letter-spacing: 0.2em;
  min-width: 260px;
  padding-top: 14px;
  padding-bottom: 16px;
  position: relative;
  z-index: 1;
  align-self: flex-start;
}

.information-button::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 8px;
  top: 20px;
  left: 0px;
  background: #FFE17F;;
  z-index: -1;
  transition: transform 0.2s;
}

.information-button:hover::before {
  transform: scaleY(6.3);
}

.contacts-phone {
  color: #444444;
  font-size: 18px;
line-height: 30px;
}

.information-schedule-item {
  color: #444444;
}

.subscribe {
  background-color: #F0F0F0;
  padding-top: 75px;
  padding-bottom: 131px;
}

.subscribe-top {
  display: flex;
  justify-content:space-between;
  align-items: center;
  margin-bottom: 60px;
}

.subscribe-bottom {
  display: flex;
  justify-content:space-between;
  align-items: center;
}

.subscribe-title {
  margin: 0px;
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  width: 410px;
}

.subscribe-text {
  margin: 0px;
  color: #444444;
  width: 560px;
}

.subscribe-form {
  width: 862px;
  display: flex;
}

.subscribe-input {
  box-sizing: border-box;
  width: 600px;
  height: 55px;
  font-size: 18px;
line-height: 30px;
color: #444444;
opacity: 0.5;
border: 0px;
border-bottom: 3px solid #000000;
background-color: transparent;
}

.subscribe-input .active {
  background-color: red;
}

.subscribe-input:active {
  border: 0px;

}

.subscribe-button {
  font-family: "Raleway", sans-serif;
  color: #000000;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  width: 260px;
  height: 55px;
  display: inline-block;
  border: 3px solid #000000;
}

.subscribe-free {
  color: #444444;
}

.page-footer {
  background-color: #444444;
  color: #ffffff;
  padding-top: 62px;
  padding-bottom: 61px;
}

.page-footer-logo {
  margin-bottom: 27px;
  display: block;
}

.footer-address {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  font-style: normal;
  width: 239px;
}

.footer-center {
  display:flex;
  justify-content:space-between;
  align-items: baseline;
  margin-bottom: 63px;
}

.footer-bottom {
  display:flex;
  justify-content:space-between;
}

.yellow-line {
  position: relative;
}

.yellow-line::after {
  position: absolute;
  content: "";
  width: 80px;
  height: 7px;
  background: #FFC700;
}

.footer-links {
  font-family: "Raleway", sans-serif;
  color: #ffffff;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  padding-top: 14;
  padding-right: 20px;
  padding-bottom: 15px;
  padding-left: 20px;
}

.footer-links:hover {
  color: #FFC700;
}


.footer-links-list {
  padding: 0px;
  margin: 0px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content:space-between;
  width: 550px;
}

.footer-social-list {
  padding: 0px;
  margin: 0px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content:space-between;
}

.footer-social-button {
  display: block;
  width: 40px;
  height: 40px;
  margin-right: 15px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
}


.footer-contacts-phone {
  color: #ffffff;
  font-size: 16px;
  line-height: 30px;
  text-decoration: none;
}

.inner-header {
  padding-left: 60px;
  padding-top: 37px;
  margin-bottom: 49px;
}

.inner-header-title {
  font-family: "Raleway", sans-serif;
  color: #000000;
  font-size: 50px;
  line-height: 50px;
  margin: 0px;
  margin-bottom: 23px;
}

.breadcrumbs-list {
  margin: 0px;
  padding: 0px;
  display: flex;
  box-sizing: border-box;
  list-style-type: none;
}

.breadcrumbs-item {
  margin: 0px;
  padding: 0px;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 19px;
  opacity: 0.6;
  color: #000000;
  text-decoration: none;
  display: block;
}

.catalog-background-top {
  /* height: 70px; */
  background-image: linear-gradient( to right, #DCDCDC 50%, #EBEBEB 30%);
}

.catalog-background {
  background-image: linear-gradient( to right, #EBEBEB 50%, transparent 30%);
}

.catalog-top {
  width: 1160px;
  margin: 0 auto;
  display: flex;
  box-sizing: border-box;
  background-image: linear-gradient( to right, #DCDCDC 328px, #EBEBEB 328px);
  align-items: center;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 60px;

}

.catalog-products {
  display: flex;
  margin: 0px;
}

.catalog-left-column {
  width: 328px;
  background-color: #EBEBEB;
  box-sizing: border-box;
  padding-left: 60px;
  padding-right: 69px;
  padding-top: 69px;
}

.catalog-right-column {
  width: 760px;
  background-color: white;
  padding-top: 69px;
  padding-left: 72px;
  padding-bottom: 75px;
}

.catalog-products-title {
  font-family: "Raleway", sans-serif;
  color: #000000;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  margin: 0px;
  padding: 0px;
}

.sorting-type {
  margin: 0px;
  padding: 0px;
  height: 18px;
  top: 0px;
  display: flex;
  align-items: center;
}

.select-control {
  font-family: "Rubik", serif;
  font-size: 16px;
  line-height: 19px;
  margin: 0px;
  padding: 0px;
  width: 195px;
  background-color: transparent;
  border: 0px;
}


.catalog-filter-group {
  margin: 0px;
  padding: 0px;
}

.product-card-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: #000000;
  text-decoration: none;
}

.product-card-price {
  font-size: 18px;
  line-height: 21px;
  color: #444444;
  font-weight: 400;
}

.button-loadmore {
  font-family: "Raleway", sans-serif;
  color: #000000;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  box-sizing: border-box;
  padding-top: 15px;
  padding-bottom: 15px;
  border: 3px solid rgba(0,0,0,0.3);
  margin-bottom: 51px;
}

.button-loadmore:hover {
  border: 3px solid rgba(0,0,0);
}

.button-loadmore:active {
  opacity: 0.3;
}


.pagination-list {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
  line-height: 19px;
}

.pagination-item {
  margin: 0px;
  padding: 0px;
}

.pagination-catalog {
  background-color:  #EBEBEB;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.pagination-link {
  display: block;
  font-family: "Raleway", sans-serif;
  color: #000000;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  box-sizing: border-box;
  padding: 26px;
  padding-left: 29px;
}

.pagination-link:hover {
  background-color: #DCDCDC;
}

.pagination-link:active {
  background-color: #DCDCDC;
  color: rgba(0,0,0,0.3);
}

.pagination-item:active {
  color: rgba(0,0,0,0.1);
}

.pagination-page {
  color: rgba(68,68,68,0.3);
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  text-decoration: none;
  box-sizing: border-box;
  padding-top: 8px;
  padding-bottom: 11px;
  padding-right: 16px;
  padding-left: 15px;
}

.pagination-page:hover {
  color: rgba(68,68,68,1);
}

.search {
  position: relative;
  width: 516px;
  height: 40px;
}

.search-input {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: black;
  box-sizing: border-box;
  width: 516px;
  height: 40px;
  padding-left: 50px;
  border: 2px solid black;
  border-radius: 20px;
  background: #FFE17F;
  color: black;
  display:block;
}

.search input::placeholder {
  color: black;
  opacity: 0.3;
}
.search input:hover::placeholder {
  color: black;
  opacity: 0.6;
}

.search-button {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: black;
  position: absolute;
  top: 0;
  right: 0px;
  width: 160px;
  height: 40px;
  border: 2px solid black;
  border-radius: 0 20px 20px 0;
  background: #FFE17F;
  cursor: pointer;
}

.search::before {
  position: absolute;
  content: "";
  background-image: url("../img/other/search.svg");
  width: 16px;
  height: 16px;
  z-index: 100;
  top: 13px;
  left: 16px;
}


