@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/rubik/rubik-400.woff2) format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/rubik/rubik-700.woff2) format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 800;
  src: url(../fonts/rubik/rubik-800.woff2) format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url(../fonts/raleway/raleway-800.woff2) format("woff2");
  font-display: swap;
}


body {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  background-color: white;
  color:  #444444;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.main-button {
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
}

.button-select {
  background-color: #000000;
  color: #FFE17F;
}

.page-header {
  color:black;
  background-color: #FFE17F;
}

.navigation-link {
  font-family: "Raleway", sans-serif;
  color: black;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
}
.navigation-popup {
  color: black;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
}

.navigation-user-link {
  color: black;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
}
.navigation-user-link-gray {
  opacity: 0.3;
}

.main-index {
  color:black;
  background-color: #ffffff;
}

.slider-slogan {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
}

.slider-description {
  font-size: 18px;
  line-height: 30px;
  color: #444444;
}

.features-value {
  font-weight: 400;
  font-size: 36px;
}
.features-name {
  font-size: 16px;
  color:  #444444;
}

.slider-number {
  font-weight: 800;
font-size: 180px;
line-height: 30px;
background-color: #FFE17F;
color: white;
}

.productline-card {
  font-family: "Raleway", sans-serif;
  color: #000000;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-decoration: none;
}

.services {
  background-color: #F0F0F0;
}
.services-card-name {
  font-family: "Raleway", sans-serif;
  color: #000000;
  font-size: 50px;
  line-height: 50px;
}
.services-card-text {
  color: #444444;
}

.delivery-order {
  font-family: "Raleway", sans-serif;
  background-color: #F0F0F0;
  color: #000000;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
}

.information-title {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
line-height: 50px;
}

.information-list-item {
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
}

.information-text {
  color: #444444;
}

.information-text-bold {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: #444444;
}

.contacts-phone {
  color: #444444;
  font-size: 18px;
line-height: 30px;
}

.information-schedule-item {
  color: #444444;
}

.subscribe {
  background-color: #F0F0F0;;
}

.subscribe-title {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
line-height: 50px;
}

.subscribe-text {
  color: #444444;
}

.subscribe-free {
  color: #444444;
}


.subscribe-button {
  font-family: "Raleway", sans-serif;
  color: #000000;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.page-footer {
  background-color: #444444;
  color: #ffffff;
}

.footer-address {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  font-style: normal;
}

.footer-links {
  font-family: "Raleway", sans-serif;
  color: #ffffff;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
}

.footer-contacts-phone {
  color: #ffffff;
  font-size: 16px;
  line-height: 30px;
  text-decoration: none;
}

.inner-header-title {
  font-family: "Raleway", sans-serif;
  color: #000000;
  font-size: 50px;
  line-height: 50px;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 19px;
  opacity: 0.6;
  color: #000000;
  text-decoration: none;
}

.catalog-products-title {
  font-family: "Raleway", sans-serif;
  color: #000000;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  background-color: #DCDCDC;
}

.catalog-filter {
  background-color:  #EBEBEB;
}

.product-card-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: #000000;
  text-decoration: none;
}

.product-card-price {
  font-size: 18px;
  line-height: 21px;
  color: #444444;
  font-weight: 400;
}

.button-loadmore {
  font-family: "Raleway", sans-serif;
  color: #000000;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
}

.pagination-catalog {
  background-color:  #EBEBEB;
}

.pagination-link {
  font-family: "Raleway", sans-serif;
  color: #000000;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
}

.pagination-page {
  color: #444444;
  opacity: 0.3;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  text-decoration: none;
}
